<h1 class="text-center" style="margin-top:100px;">What would you like to do?</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.dbbest.com/blog/wp-content/uploads/2015/03/bi-analytics-strategy.jpg" alt="data">
      <div class="caption">
        <h3 class="text-center">Voter Data</h3>
        <p class="text-center">Small description here</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.dbbest.com/blog/wp-content/uploads/2015/03/bi-analytics-strategy.jpg" alt="data">
      <div class="caption">
        <h3 class="text-center">Voter Data</h3>
        <p class="text-center">Small description here</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.dbbest.com/blog/wp-content/uploads/2015/03/bi-analytics-strategy.jpg" alt="data">
      <div class="caption">
        <h3 class="text-center">Voter Data</h3>
        <p class="text-center">Small description here</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
</div>

<footer class="text-center">
  <%= link_to 'Admin', admin_pcc_infos_path, class: 'text-center' %>
</footer>
