<h1 class="text-center">What would you like to do?</h1>

<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <div class="thumbnail">
      <img src="https://www.dbbest.com/blog/wp-content/uploads/2015/03/bi-analytics-strategy.jpg" alt="data" style="height: 263px; width: 350px;">
      <div class="caption">
        <h3 class="text-center">Analyze Historical Voter Data</h3>
        <p class="text-center">Click here to see a dashboard which allows you to see which areas donate the most money and to whom that money goes to.</p>
        <p class="text-center">
          <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary' %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://img1.steemit.com/0x0/http://imgur.com/Ruq2OJE.jpg" alt="prediction" style="height: 263px; width: 350px;">
      <div class="caption">
        <h3 class="text-center">Predict Donation Trends</h3>
        <p class="text-center">COMING SOON... Predict which voters will donate more in the future. Predict to whom those donations will go.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button" disabled="disabled">Predict</a>
      </div>
    </div>
  </div>
</div>

<footer class="text-center">
  <%= link_to 'Admin', admin_pcc_infos_path, class: 'text-center' %>
</footer>
