<div class="row">
  <div class="col-sm-1">
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
      <br>
      <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-info' %>
  </div>
  <div id="predictViz" class="col-sm-11">

  </div>
</div>
